<a href="https://colab.research.google.com/github/NAshwinKumar/credit_risk_assessment/blob/master/HGANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder 
from collections import defaultdict

In [0]:
data = pd.read_csv('http://invidio.drl.pl/files/german_credit.csv')
# data = pd.read_csv('https://raw.githubusercontent.com/vibhor98/German-Credit-Dataset/master/german_credit_data.csv')
data.rename(columns={'default' : 'class'},inplace=True)

In [0]:
data

     class  ... foreign_worker
0        0  ...            yes
1        1  ...            yes
2        0  ...            yes
3        0  ...            yes
4        1  ...            yes
..     ...  ...            ...
995      0  ...            yes
996      0  ...            yes
997      0  ...            yes
998      1  ...            yes
999      0  ...            yes

[1000 rows x 21 columns]

# Pre-processing

In [0]:
print ('\033[1m' + "Number of Rows     : " +'\033[0m', data.shape[0])
print ('\033[1m' + "\nNumber of Columns  : " +'\033[0m', data.shape[1])
print ('\033[1m' + "\nMissing values     :  "+'\033[0m', data.isnull().values.any())
print('\033[1m' + "\nColumn Names\t\t\tUnique Values  \n"+'\033[0m', data.nunique(),sep="")
print('\033[1m' + "\nColumn Names\t\t\tData Types  \n"+'\033[0m', data.dtypes,sep="")

Number of Rows     :  1000

Number of Columns  :  21

Missing values     :   False

Column Names			Unique Values
class                           2
account_check_status            4
duration_in_month              33
credit_history                  5
purpose                        10
credit_amount                 921
savings                         5
present_emp_since               5
installment_as_income_perc      4
personal_status_sex             4
other_debtors                   3
present_res_since               4
property                        4
age                            53
other_installment_plans         3
housing                         3
credits_this_bank               4
job                             4
people_under_maintenance        2
telephone                       2
foreign_worker                  2
dtype: int64

Column Names			Data Types
class                          int64
account_check_status          object
duration_in_month              int64
credit_history                object
purpose                       object
credit_amount                  int64
savings                       object
present_emp_since             object
installment_as_income_perc     int64
personal_status_sex           object
other_debtors                 object
present_res_since              int64
property                      object
age                            int64
other_installment_plans       object
housing                       object
credits_this_bank              int64
job                           object
people_under_maintenance       int64
telephone                     object
foreign_worker                object
dtype: object

## Min-max normalisation

In [0]:
#column names of numeric variables 
numeric_variables = data.select_dtypes(exclude='object').drop(['class'], axis=1).columns #['creditamount', 'duration', 'installmentrate', 'residencesince', 'age', 'existingcredits', 'peopleliable', 'classification']

numeric_data = pd.DataFrame(StandardScaler().fit_transform(data[numeric_variables]))

## Encoding Categorical columns

In [0]:
#column names of ategorical variables 
categorical_variables = data.select_dtypes(include='object').columns  #['existingchecking', 'credithistory', 'purpose', 'savings', 'employmentsince', 'statussex', 'otherdebtors', 'property', 'otherinstallmentplans', 'housing', 'job', 'telephone', 'foreignworker']

# Encoding the variable
# d = defaultdict(LabelEncoder)

# lecatdata = data[categorical_variables].apply(lambda x: d[x.name].fit_transform(x))

# # print transformations
# for x in range(len(categorical_variables)):
#     print(categorical_variables[x],": ", data[categorical_variables[x]].unique())
#     print(categorical_variables[x],": ", lecatdata[categorical_variables[x]].unique())

#One hot encoding, create a column for every category of every categorical variable
categorical_data = pd.get_dummies(data[categorical_variables])

In [0]:
data_preprocessed = pd.concat([numeric_data, categorical_data, data['class']], axis = 1)
print(data_preprocessed.shape)

(1000, 62)